.button{
  width: 200px;
  padding: 10px;
  margin-bottom: 50px;
  box-sizing: border-box;
  background : linear-gradient(
    to top ,
    #9352A1 60%,
    #A460B2 20%
  );
  box-shadow:  0 5px #534775, 0 -5px #A460B2, 0 10px #000, 0 -10px #000, -5px 0 #534775,
  -10px 0 #000, 5px 0 #534775, 10px 0 #000, 5px 5px #000, -5px -5px #000,
  -5px 5px #000, 5px -5px #000, inset 0 -5px #534775 ;
  font-family: 'eightBitBold';
}
.button:active, .button:hover{
  box-sizing: border-box;
  background : linear-gradient(
    to top ,
    #b175be 60%,
    #c38cce 20%
  );
  box-shadow:  0 5px #6B5D92, 0 -5px #c38cce , 0 10px #000, 0 -10px #000, -5px 0 #6B5D92,
  -10px 0 #000, 5px 0 #6B5D92, 10px 0 #000, 5px 5px #000, -5px -5px #000,
  -5px 5px #000, 5px -5px #000, inset 0 -5px #6B5D92 ;
}




/* box-shadow: */
/* inset -5px -5px 0 #534775, inset -10px -10px 0 pink */
